body {border:solid 1px gray

}
header,footer {
	background:gray;
	color:white;
}

.flex-container{
	display:flex;
}
nav{
	width:left;
	font-size:80%;
}
section{
	border-left:solid 2px gray;
	padding-left:10px;
}

nav .categorie ul {
	display: none;
}
nav .categorie:hover ul {
	display: list-item;
}

.jaune {
	background-color: yellow;
}

.red {
	background-color: red;
}
